class Foo {
    private $f = 'wtf';

    function bar() {
        try {
            throw new \Exception();
        } catch (\Exception $this) {
            var_dump($this);
            var_dump($this->f);
        }
    }
}

$f = new Foo();
$f->bar();